<!DOCTYPE html>
<html>
  <head>
    <title>CATCHRABBIT</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= albumCode %>
    <form action="" method="post">
      <ul>
        <li><a href=https://catchrabbit.bandcamp.com/yum?code=<%= betterAngelsCode %> target=_blank>Better Angels</a></li>
        <li><a href=https://catchrabbit.bandcamp.com/yum?code=<%= nobodyReallyCode %> target=_blank>Nobody Really Knows</a></li>
        <li><a href=https://catchrabbit.bandcamp.com/yum?code=<%= autumnesqueCode %> target=_blank>Autumnesque</a></li>
      </ul>
    </form>
  </body>
</html>
