<!DOCTYPE html>
<html>
  <head>
    <title>CATCHRABBIT</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= albumCode %>
    <form action="" method="post">
      <ul>
        <li>Better Angels - <%= betterAngelsCode %></li>
        <li>Nobody Really - <%= nobodyReallyCode %>></li>
        <li>Autumnesque - <%= autumnesqueCode %></li>
      </ul>
    </form>
  </body>
</html>
