<!DOCTYPE html>
<html>
  <head>
    <title>CATCHRABBIT</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= albumCode %>
    <form action="" method="post">
      <ul>
        <% tracks.forEach(function(track){ %>
          <%- include('bandcamp-link', {
            code: track.code,
            name: track.name,
            releaseDate: track.releaseDate
          }); %>
        <% }); %>
      </ul>
    </form>
  </body>
</html>
