<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="" method="post">
      <ul>
        <li>Better Angels - Download Link 1</li>
        <li>Nobody Really - Download Link 1</li>
        <li>Autumnesque - Coming Soon!</li>
      </ul>
    </form>
  </body>
</html>
