<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="" method="post">
      <label for="download_code"></label>
      <input name="download_code" type="text" placeholder="Enter Album Code" />
      <input type="submit" />
    </form>
  </body>
</html>
